.vscode
__pycache__
wget-log*

*.out
*.pt
.env

wandb/*

checkpoints/*
*.json
*.jsonl
*.png
*.pdf
.env

scripts/lazy_runs
scripts/nebius
data/NIAH
results
slurm
AGENTS.md
CLAUDE.md
*.codex

data/*
figures/*
torchinductor_*/*



*.so