torch==2.10.0
transformers==5.0.0
datasets==4.5.0
numpy==2.4.1
accelerate==1.12.0
pandas==3.0.0
lm-eval[ruler, longbench]==0.4.11

dotenv==0.9.9
omegaconf
wandb
tqdm

html2text==2025.4.15
bs4==0.0.2

# notebooks and analysis - version not important as long as it runs
ipython
ipykernel
matplotlib
seaborn

# formatting
black
black[jupyter]
